In [1]:
import pandas as pd

In [103]:
#def quantity_col(processdf):
#    processed_df = pd.read_csv(processdf)
#    pd.DataFrame(processed_df.groupby(['Country', 'Job Title'])['Age Group'].value_counts())
#    adding_qt_col = processed_df.value_counts(['Country', 'Job Title', 'Age Group']).reset_index(name='Quantity')
#    sorting = adding_qt_col.sort_values(by='Quantity', ascending=False)
#    return sorting

In [105]:
def quantity_col(processdf):
    processed_df = pd.read_csv(processdf)
    adding_qt_col = pd.DataFrame(processed_df.groupby(['Country', 'Job Title'])['Age Group'].value_counts().reset_index(name='Quantity'))
    sorted_qt = adding_qt_col.sort_values(by='Quantity', ascending=False)

    return sorted_qt

In [106]:
processdf = '../data/processed/processed_df.csv'

In [107]:
quantity_col(processdf)

,Country,Job Title,Age Group,Quantity
1316,Great Britain,Unemployed,50-69,273
789,France,Unemployed,50-69,235
1066,Germany,Unemployed,50-69,230
1067,Germany,Unemployed,18-29,219
2866,Spain,Unemployed,50-69,197
...,...,...,...,...
1294,Great Britain,LiDAR Data Analyst,30-49,1
1287,Great Britain,Geographic Information Systems Database Admini...,18-29,1
1285,Great Britain,Geographic Information Systems Data Specialist...,18-29,1
1280,Great Britain,Geographic Information Systems Data Administra...,18-29,1
1477,Hungary,Data Warehouse Specialist,50-69,1

In [29]:
def percentage_col(complete_df):
    complete_df['Percentage'] = round((complete_df['Quantity'] / complete_df['Quantity'].sum()) * 100, 2)
    complete_df['Percentage'].astype(str)
    
    complete_df.to_csv('../data/results/main_df.csv')

    return complete_df

In [30]:
percentage_col(qt_col)

,Country,Job Title,Age Group,Quantity,Percentage
0,Great Britain,Unemployed,50-69,273,2.83%
1,France,Unemployed,50-69,235,2.44%
2,Germany,Unemployed,50-69,230,2.38%
3,Germany,Unemployed,18-29,219,2.27%
4,Spain,Unemployed,50-69,197,2.04%
...,...,...,...,...,...
2949,Italy,Director of Data Operations,18-29,1,0.01%
2950,Italy,Director of Data Operations,30-49,1,0.01%
2951,Italy,Electronic Data Interchange System Developer (...,18-29,1,0.01%
2952,Italy,Electronic Data Interchange System Developer (...,50-69,1,0.01%
2953,Austria,Automatic Data Processing Customer Liaison (AD...,30-49,1,0.01%

In [40]:
main = pd.read_csv('../data/results/main_df.csv')

In [41]:
main

    Unnamed: 0  index  Quantity Percentage
0            0      1  0.583615     58.36%
1            1      2  0.170616     17.06%
2            2      3  0.081246      8.12%
3            3      4  0.048409      4.84%
4            4      5  0.038253      3.83%
5            5      6  0.026066      2.61%
6            6      7  0.014895      1.49%
7            7      8  0.008802      0.88%
8            8      9  0.005078      0.51%
9            9     10  0.003385      0.34%
10          10     20  0.001354      0.14%
11          11     11  0.001354      0.14%
12          12     15  0.001016       0.1%
13          13     17  0.000677      0.07%
14          14     36  0.000677      0.07%
15          15     21  0.000677      0.07%
16          16     26  0.000677      0.07%
17          17     25  0.000677      0.07%
18          18     29  0.000677      0.07%
19          19     22  0.000677      0.07%
20          20     16  0.000677      0.07%
21          21     12  0.000677      0.07%
22          22    124  0.000677      0.07%
23          23     28  0.000339      0.03%
24          24     98  0.000339      0.03%
25          25     18  0.000339      0.03%
26          26     14  0.000339      0.03%
27          27     30  0.000339      0.03%
28          28     40  0.000339      0.03%
29          29     52  0.000339      0.03%
30          30     70  0.000339      0.03%
31          31    273  0.000339      0.03%
32          32    128  0.000339      0.03%
33          33    130  0.000339      0.03%
34          34    219  0.000339      0.03%
35          35    197  0.000339      0.03%
36          36    181  0.000339      0.03%
37          37    161  0.000339      0.03%
38          38    141  0.000339      0.03%
39          39    139  0.000339      0.03%
40          40    115  0.000339      0.03%
41          41     79  0.000339      0.03%
42          42     37  0.000339      0.03%
43          43     35  0.000339      0.03%
44          44     23  0.000339      0.03%
45          45     19  0.000339      0.03%
46          46    235  0.000339      0.03%
47          47    170  0.000339      0.03%
48          48    160  0.000339      0.03%
49          49    230  0.000339      0.03%